.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.input_field {
  padding: 10px;
  width: 250px;
  border: 1px solid #d3d3d3;
  outline: none;
  border-radius: 3px 0 0 3px;
}

.send_btn {
  border: none;
  height: 37px;
  border-radius: 0 3px 3px 0;
  width: 50px;
  background: #99cc33;
  color: white;
  cursor: pointer;
  outline: none;
}

.disabled_send_btn {
  background: #a0a0a0;
  color: #d3d3d3;
  cursor: default;
}

.token {
  margin: 3rem;
}
